/* src/styles/global.css */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #a7d1ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.75em;
    line-height: 1.2;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }

img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Target every cell and the header */
  th, td {
    border: 1px solid #ffffff; /* White borders */
    padding: 10px 15px;
    text-align: left;
  }

  /* Optional: slightly different background for headers */
  th {
    background-color: rgba(255, 255, 255, 0.1); 
    font-weight: bold;
  }
