---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Favorite Artists">
    <h1>Who inspires my work?</h1>
    <p>
        I am but a prism directing a combination of the light of those in my lightcone, so I have been inspired by many, many
        artists. Here I'm going to largely focus on those that have been key to my growth. Over time I will update this with some
        links to my favorites of each.
    </p>
    <p>
        <b>Musicians:</b><br>
        Brakence, Deko, Yameii Online, Heylog, 100 Gecs<br>
        Tyler the Creator, JPEGMAFIA, Mac Miller, Benny the Butcher<br>
        Kendrick Lamar, Earl Sweatshirt, MIKE, The Alchemist<br>
        TOKYOPILL, Cynthoni, Aphex Twin, Flume
    </p>
    <p>
        <b>Visual Artists</b>:<br>
        photonisdead, Deko/Oseanworld, PurzBeats, celestialmaze, Machine Delusions, cersperse,
        olegchomp, Empress Trash, Minimal Macbeth, Valeforic,
        countless mangaka and cartoon artists,
    </p>
</BaseLayout> 