---
import BaseLayout from '../layouts/BaseLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout title="Bio">
	<h1>Who am I?</h1>
	<p>
		My name is Nymph. I'm a trans catgirl exploring the depths of my passions, wherever they may take me. I enjoy quant research, derivatives,
		ML/AI, science, and music/art. Frequently I find myself learning about history and philosophy as well. Ever since chaos theory and Deleuze
		made me grasp the fundamental interconnectedness of all things, I am but a leaf in the stream of creation.
	</p>
	<br>	
	 <p>
		Professionally I'm an engineer at Search on Dora, where we build a multichain block explorer
		and discovery engine. I work on our database, pipelines and backend service, as well as classification and
		recommendation systems.
	</p>
	<br>
	<p>
		I spend my free time learning linear algebra, deep learning, and category theory, as well as keeping up with the
		field of AI to the best of my ability. I experiment with LLMs regularly, with a focus on local
		inference and information retrieval (keyphrase and citation extraction, topic classification, etc).
	</p>
	<br>
	<p>
		I make music with Ableton, a Push 2, and Arturia midi controllers. I write my own lyrics and
		rap/sing over the beats I make.

		I'm starting to use Stable Audio for sample/loop generation but I'm taking my time and haven't actually included AI in any
		music I've released. I'll try to make it clear when I do. I can't imagine ever using AI for lyrics,
		the process of writing them is one of the most therapeutic things I have in my life. Fuck a ghost writer, AI or not.
	</p>
	<br>
	<p>
		I make visual art with ComfyUI, Pixel Composer, Krita, Blender, and Touch Designer. Sometimes
		I even paint! I really got back into it visual art so that I could make visuals for the music,
		so these will often intersect. I also dream of creating narrative animations with my own scoring,
		story telling has been around longer than writing and I want to understand how to use it to convey
		my messages more effectively.
	</p>
	<br>
	<h2>Why care?</h2>
	 <p>
		I ask myself this question as much as I ask it to you. Why should you care about me and what I
		have to say? It seems like a fundamentally egotistical endeavor to share my thoughts and experiences
		with the world like they will gain something from it. What I gain from it is that in giving them form
		I am forced to more methodically think through things than I do otherwise and that I am able to gain
		purpose and fulfillment through those who connect with what I'm saying and doing.
	</p>
	<br>
	<p>
		What do you gain from it? Well, as many of my core beliefs are based around chaos and complexity I
		always come back to the unpredictability and the interconnectedness of all things. Part of what this
		means is that the duality of self and context is so important that nobody can really give you advice
		except for you. However, it also means that there are unpredictable connections between my self and
		context and yours. My path isn't yours, but if there's high vector similarity beween us it's likely that you
		can find helpful ways to forge your path. Thus, it feels like my duty to share my context with you.
	</p>
</BaseLayout>
